#review_cafename {
  height: 50px;
  width: 600px;
  margin-left: 80px;
  margin-top: 20px;
}
#review_address {
  height: 50px;
  width: 600px;
  margin-left: 80px;
  margin-top: 20px;
}
#review_image {
  height: 50px;
  width: 600px;
  margin-left: 80px;
  margin-top: 20px;
}
.c {
  display: flex;
  margin-left: 80px;
  margin-top: 30px;
  .c1 {
    margin-right: 30px;
  }
  .c2 {
    margin-right: 30px;
  }
}
.d {
  display: flex;
  margin-left: 80px;
  margin-top: 30px;

  .d1 {
    margin-right: 20px;
    #review_evaluation1 {
      width: 50px;
    }
  }
  .d2 {
    margin-right: 20px;
    #review_evaluation2 {
      width: 50px;
    }
  }
  .d3 {
    margin-right: 20px;
    #review_evaluation3 {
      width: 50px;
    }
  }
  .d4 {
    margin-right: 20px;
    width: 200px;
    #review_evaluation4 {
      width: 50px;
    }
  }
  .d5 {
    #review_evaluation5 {
      width: 50px;
    }
  }
}
.f {
  margin-left: 80px;
  margin-top: 30px;
  #review_text {
    width: 1000px;
    height: 200px;
  }
}
.g {
  margin-left: 80px;
  margin-top: 30px;
  .send__btn {
    height: 40px;
    width: 100px;

  }
}

.contents.row {
  height: 100%;
  width: 100%;
  .success {
    height: 40px;
    width: 300px;
    margin:  0 auto;
    margin-top: 100px;
    padding-left: 50px;
    border: solid 3px #000000;
    .btn {
      height: 100px;
      width: 100px;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      color: black;
    }
  }
}
.p {
  height: 100px;
  width: 100px;
  background-color: red;
}
.review-a{
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
  .text {
    height: 200px;
    width: 600px;
    border: 1px solid;
    font-weight: bold;
    margin-left: 80px;
  }
  .photo {
    height: 400px;
    width: 600px;
    border: 1px solid;
    margin-right: 50px;
  }
}