.navigation_bar
  .review 
    review 
  %form 
    .input-box
      %input{type: "text", placeholder: "キーワード検索", class: "input-text"}
    .form-btn
      %input{type: "submit", value: "検索", class: "send__btn"} 
