.header 
  .title
    cafe app
    %i.fas.fa-coffee
  .name-box
    .user-name 
      = current_user.name
.navigation_bar
  .review 
    削除完了
.contents.row
  .success
    %a.btn{:href => "/"} review一覧へ戻る